[submodule "SBOLTestSuite"]
	path = SBOLTestSuite
	url = https://github.com/SynBioDex/SBOLTestSuite.git
[submodule "SB_Tester/SBOLTestSuite"]
	path = SB_Tester/SBOLTestSuite
	url = https://github.com/SynBioDex/SBOLTestSuite.git
